.chat_main
  .group_info
    .group_info_left_box
      %h2.group_info_left_box_current_group
        =@group.name
      %ul.group_info_left_box_member_list
        - @group.users.each do |user|
          =user.name
    .group_info_edit_btn
      =link_to "Edit",edit_group_path(@group.id)
  .messages
    = render @messages
  .message_form 
    = form_for [@group, @message] do |f|
      .input_box
        .input_box_name_image
       
          = f.text_field :content, class: 'text_form', placeholder: 'type a message'
          = f.label :image, class: 'input_box__image' do
            = icon('fas', 'image', class: 'messege_image')
            = f.file_field :image, class: 'input_box__image_file'
        = f.submit 'Send', class: 'send_btn'
